body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
  color: white;
}

section {
  padding: 20px;
}

.intro {
  text-align: center;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  padding: 50px;
}

#team {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 50%;
}

body.dark {
  background: #111;
  color: white;
}